<template>
  <div id="app"  class="container">
    <!-- <img src="./assets/logo.png"> -->
    <h2>{{ msg }}</h2>
    <hr>
    <h2>List</h2>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Pic</th>
              <th>Test2</th>
              <th>Test3</th>
              <th>Test3</th>
              <th>Test3</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="list in lists">
              <td>
                <img :src="list.thumbnail" alt="150px" class="img-thumbnail">
              </td>
              <td>
                <ul>
                  <li>Foo: {{ list.sku }}</li>
                  <li>Bar: {{ list.item }}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>loc1: {{ list.loc1 }}</li>
                  <li>loc2: {{ list.loc2 }}</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>foo</li>
                  <li>bar</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>foo</li>
                  <li>bar</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
  ,data () {
    return {
      msg: 'Welcome to Your Vue.js App'
      ,lists: [
          { thumbnail: 'http://placehold.it/150', sku: 'abc-123', item: 'loremasdasdasdsad', loc1: 'loc1', loc2: 'loc2'}
          ,{ thumbnail: 'http://placehold.it/150', sku: 'abc-123', item: 'loremasdasdasdsad', loc1: 'loc1', loc2: 'loc2'}
         ,{ thumbnail: 'http://placehold.it/150', item: ''}
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;
  margin-top: 40px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

table, th, td{
  text-align: left;
  width: 100px
}

</style>
